<script>
    import { quintOut } from 'svelte/easing';
    import { fade, draw, fly } from 'svelte/transition';
    import { expand } from './custom-transitions.js';
    import { inner, outer } from './shape.js';
    let user = "";
    let password = "";
    let success = false;
    function login(){
        if (user === "user" && password === "user") {
            success = true
            setTimeout(() => {  window.location.href = "https://darkoskerlevski.gitlab.io/sveltetable/"; }, 9000);
        }
        else  if(user === "admin" && password === "admin") {
            success = true
            setTimeout(() => {  window.location.href = "https://darkoskerlevski.gitlab.io/sveltetable/"; }, 9000);
        }
        else {
            alert("Unsuccessful login, please try again!")
        }
    }
    function resetValues(){
        user = "";
        password = "";
    }
</script>

<style>
    form {
        background: #fff;
        padding: 50px;
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 20px 14px 8px rgba(0, 0, 0, 0.58);
    }
    label {
        margin: 10px 0;
        align-self: flex-start;
        font-weight: 500;
    }
    input {
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        transition: all 300ms ease-in-out;
        width: 100%;
    }
    input:focus {
        outline: 0;
        border-bottom: 1px solid #666;
    }
    .btn {
        background: black;
        color: white;
        padding: 10px 0;
        width: 200px;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    h1 {
        margin: 10px 20px 0px 20px;
        font-size: 40px;
    }
    .centered {
        font-size: 2vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Overpass';
        letter-spacing: 0.12em;
        color: white;
        font-weight: 400;
    }
    svg {
        width: 100%;
        height: 100%;
    }

    path {
        fill: white;
        opacity: 1;
    }

</style>
{#if !success}
<form>
    <h1>Welcome</h1>
    <h2>Please log in</h2>

    <label for="username"> Username </label>
    <input id="username" type="text" bind:value={user}>
    <label for="password"> Password </label>
    <input id="password" type="password" bind:value={password}>
    <br>
    <input type="button" class="btn" on:click={login} value="Log in">
    <input type="button" class="btn" on:click={resetValues} value="Reset">
</form>
{/if}
{#if success}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103 124">
        <g out:fade="{{duration: 200}}" opacity=0.2>
            <path
                    in:expand="{{duration: 400, delay: 1000, easing: quintOut}}"
                    style="stroke: #ff3e00; fill: #ff3e00; stroke-width: 50;"
                    d={outer}
            />
            <path
                    in:draw="{{duration: 1000}}"
                    style="stroke:#ff3e00; stroke-width: 1.5"
                    d={inner}
            />
        </g>
    </svg>
    <div class="centered" out:fly="{{y: -20, duration: 300}}">
        {#each 'Logged in successfully as ' + user as char, i}
			<span
                    in:fade="{{delay: 1000 + i * 150, duration: 300}}"
            >{char}</span>
        {/each}
    </div>
{/if}