<script>
    import LoginForm from "./components/LoginForm.svelte";
</script>

<style>
    section {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, blueviolet, #e358ab);
    }
</style>


<section>
    <LoginForm />
</section>





